<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url"><![CDATA[jdbc:mysql://115.159.98.171:3306/PetManageSystem?useUnicode=true&characterEncoding=utf8]]></property>
        <property name="connection.username">root</property>
        <property name="connection.password">695345+zb</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.pool_size">100</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping resource="model/BeanAppointment.hbm.xml"/>
        <mapping resource="model/BeanCategory.hbm.xml"/>
        <mapping resource="model/BeanMyOrder.hbm.xml"/>
        <mapping resource="model/BeanMyUser.hbm.xml"/>
        <mapping resource="model/BeanOperator.hbm.xml"/>
        <mapping resource="model/BeanPet.hbm.xml"/>
        <mapping resource="model/BeanProduct.hbm.xml"/>
        <mapping resource="model/BeanService.hbm.xml"/>
    </session-factory>
</hibernate-configuration>